**/node_modules/
**/dist/
**/build/
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/.env
**/.env.*

**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.egg-info/
**/.eggs/
**/venv/
**/env/
**/*.sqlite3

backend/uploads/

**/.DS_Store
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/*.bak
**/*.tmp
**/*.orig
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln

!.vscode/extensions.json
